{
    "env": {
        "development": {
            "presets": ["es2015"],
            "plugins": ["transform-es2015-modules-umd"]
        },
        "production": {
            "presets": ["es2015"],
            "plugins": ["transform-es2015-modules-umd"]
        },
        "test": {
            "presets": ["es2015"],
            "plugins": [
                "istanbul"
            ]
        }
    }
}
